:root {
  --color-lime: var(--color-aqua);
  --color-lime-dark: var(--color-aqua-dark);
  --color-lime-light: var(--color-aqua-light);

  --secondary-color: var(--color-red);

  --color-black: #fcfcfc;
  --color-dark: #ffffff;

  --color-white: #151516;
  --color-light: #1d1d1d;
}

footer {
  background-color: var(--color-light);
  p,li,h4 {
    color: var(--color-dark) !important;
  }
  span {
    color: var(--color-light) !important;
  }
}
b{
  color: var(--secondary-color);
}

.img-light {
  display: none;
}
.img-dark {
  display: block;
}