*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    @include vendor-prefix('box-sizing', 'border-box');
}
* {
    font-family: 'Lato', sans-serif;
    color: var(--color-black);
    //transition: background-color .6s ease-in-out;
}
html {
    scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
    background-color: var(--color-white);
}
body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $QHDTV;
}