@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.ttf");
}